body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 100px;
    padding-left: 100px;
    background-color: #1ac0c6;
}

.number-box {
    display: flex;
    flex-direction: column;
}

.card {
    border: 10px;
    height: 50px;
    width: 50px;
    border: 5px solid black;
    background-color: blanchedalmond;
}

.number-space {
    text-align: center;
}