<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>
<body>
    <style>
        .box {
            height: 50px;
            width: 50px;
            background-color: red;
        }
    </style>
    <div id="app">
        <h1>{{ greeting }}</h1>
        <br>
        <h2>{{ command }}</h2>
        <br>
        <input v-model="yourNumber"/>
        <div>Your number is {{ yourNumber }}</div>
        <div>{{ yourNumber }} doubled is {{ doMath(yourNumber) }}</div>
        <br>
        <!-- @ for events -->
        <button @click="toggle">Toggle</button>
        <!-- "v" for directives -->
        <div v-if="isVisible" class="box"></div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function() {
                return {
                    greeting: "Hello Vue",
                    isVisible: true,
                    yourNumber: "",
                    command: "Enter a number:"
                }
            },
            methods: {
                toggle() {
                    this.isVisible = !this.isVisible
                },
                doMath(num) {
                    return num * 2
                }
            }
        })
        app.mount("#app") 
    </script>
</body>
</html>